body {
    background-color: rgb(255, 253, 200);
  }

  img {
    padding:20px;
    border:5px;
    margin:-10px;
}
a {
  div {
    width: 30px;
    border: 5px solid rgb(126, 0, 128);
    padding: 5px;
    margin: 2px;
  }
}

h2 {
  width: 110px;
  height: 30px;
  padding: 10px;
  border: 2px solid rgb(8, 17, 60);
  margin: 2;
  background-color: rgb(252, 251, 232);
 
}